<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    {% block base_head %}

    {% endblock %}
</head>
<body>
    {% block base_body %}
        <div class="container">
            <div class="row"><div class="col-sm-12"><h2>MY Cart...</h2></div></div>
            <h2 style="color: #1c7430">{{ mess }}</h2>
            <div class="row">
                <div class="col-sm-12">
                    {% for n in cobj %}
                        {% for x in bobj %}
                            {% if n.c_Prod_mail == umail and n.c_Prod_id == x.id and n.cstat == 'no' %}
                                <div class="row">
                                    <div class="col-sm-12" style="padding:10px; margin-top: 10px; border-bottom:1px solid #C0C0C0; height:250px">
                                        <div class="row">
                                            <div class="col-sm-3"  style=" height: 210px; background-repeat:no-repeat; background-size:cover;">
                                                <img src="..{{ x.Prod_image.url }}" style=" height: 210px; width:200px;" alt="image"/>
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="row"><div class="col-sm-12"><h2 style="color:blue;">{{ x.Prod_title }}</h2></div></div>
                                                <div class="row">
                                                    <div class="col-sm-5">
                                                        <h4>model - {{ x.Prod_model_no }}</h4>
                                                        <h4>manufacture - {{ x.Prod_manufacture }}</h4>
                                                        <h4>weight - {{ x.Prod_weight }}</h4>
                                                        <h4 style="color:red;">Price - {{ x.Prod_price }} Rs</h4>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <h4>Genre - {{ x.Prod_genre }}</h4>
                                                        <h4>Year - {{ x.Prod_year }}</h4>
                                                        <h4>No of items - {{ n.cno }}</h4>
                                                    </div>

                                                </div>
                                        </div>
                                        </div>
                                    </div>
                            </div>

                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {% if tot != 0 %}
                        <div class="row">
                            <h3>Total Cost : {{ tot }} /- Rs</h3>
                        </div>
                        <div class="row">
                            <form action="{% url 'cart'%}" method="POST">{% csrf_token %}

                                <div>
                                    <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="checkbox-inline"><input name="eradio" type="radio" value="eval" required> Existing Address </label>
                                        <textarea disabled="disabled" name="caddr1" rows="7" class="form-control">{{ addr.uaddr }}</textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="checkbox-inline"><input name="eradio" type="radio" value="nval" required> Update Address </label>
                                        <textarea name="caddr2" rows="7" class="form-control"></textarea>
                                    </div>
                                </div>
                                </div>
                                <br /><hr />
                                <div>
                                    <div class="form-group form-inline">
                                        <label class="checkbox-inline"><input name="bradio" type="radio" value="eval" > Enter Credit Card Details: </label>
                                        <input class="form-control" name="cardname" type="text" placeholder="Enter Card Name" />
                                        <input class="form-control" name="card" type="text" placeholder="Enter Card Number" maxlength="12"/>
                                        <input class="form-control" name="cvv" type="text" placeholder="Enter CVV Number" maxlength="3"/>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label class="checkbox-inline"><input name="bradio" type="radio" value="dval" > Enter Debit Card Details: </label>
                                        <input class="form-control" name="dcardname" type="text" placeholder="Enter Card Name" />
                                        <input class="form-control" name="dcard" type="text" placeholder="Enter Card Number" maxlength="12"/>
                                        <input class="form-control" name="dcvv" type="text" placeholder="Enter CVV Number" maxlength="3"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="checkbox-inline"><input name="bradio" type="radio" value="nval" required> COD ( Cash On Delivery ) </label>
                                    </div>
                                </div>

                                <input type="submit"  class="form-control btn btn-success"  value="Confirm Placing" style="border-radius:10px;"/>
                            </form>
                        </div>
                        <div style="margin: 10px 0 10px 0"></div>
                    {% else %}
                        <h2>Cart is empty</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>