<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    {% block base_head %}

    {% endblock %}
    <style>
        .container{
            border:1px solid black;
            background-color:blue;
        }
    </style>
</head>
<body>
    {% block base_body %}
        <div class="container" style="background-color:#F5F5DC;">
            <div style="text-align: center; font-family:thahoma;"><h1>Create an Account...</h1></div>
            <h1 style="text-align: center; font-family:thahoma;">{{ mess }}</h1><br />
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4" style="background-color:; padding:50px;">
                    <form action="{% url 'reg' %}" method="POST">
                        {% csrf_token %}
                <div class="form-group">
                    <label for="name">First Name: </label>
                    <input type="text" name="ufname" maxlength="20" class="form-control" required style="border-radius:30px;"/>
                </div>
                <div class="form-group">
                    <label for="name">Second Name: </label>
                    <input type="text" name="usname" maxlength="20" class="form-control" required style="border-radius:30px;"/>
                </div>
                <div class="form-group">
                    <label for="name">Username: </label>
                    <input type="text" name="uname" id="uname" maxlength="20" class="form-control" required style="border-radius:30px;"/>
                </div>

                <div class="form-group">
                    <label for="email">Email address: </label>
                    <input type="email" class="form-control" name="umail" required style="border-radius:30px;"/>
                </div>
                <div class="form-group">
                    <label for="pwd">Password: </label>
                    <input type="password" name="upass" minlength="8" class="form-control" required style="border-radius:30px;"/>
                </div>
                <div class="form-group">
                    <label for="pwd">Password Again: </label>
                    <input type="password" name="upass1" class="form-control" required style="border-radius:30px;"/>
                </div>
                <div class="form-group">
                    <label for="name">Phone Number: </label>
                    <input type="text" name="uphone" maxlength="10" class="form-control" required style="border-radius:30px;"/>
                </div>

                <div class="form-group">
                    <label for="name">Mailing Address: </label><br />
                    <textarea class="form-control" name="uaddr" rows="5" required style="border-radius:30px;"></textarea>
                </div>
                <input type="submit" class="btn btn-success" value="Register!" style="border-radius:10px; background-color:
#00FF00;"/>
            </form>
                </div>
            </div>
            <div style="padding: 20px"></div>
        </div>
    {% endblock %}
</body>
</html>