/* index page code */
td{
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    text-align: left;
}

table {
  table-layout: fixed;
  width: 100%
}